<div class="container">
  <div class="row">
    <div class="col-xs-4 col-xs-offset-4">
      <div class="form-wrapper">
        <%= simple_form_for @tool do |f| %>
          <%= f.input :name, label: false, placeholder: 'Tool Name' %>
          <%= f.input :description, label: false, placeholder: 'Tool Description' %>
          <%= f.button :submit, class: "btn btn-info"%>
        <% end %>
      </div>
    </div>
  </div>
</div>
