<div class="wrapper" id="tools-index">
  <div class="container">
    <div align="center">
      <h1>Liste des Tags</h1>
        <%= link_to 'Ajouter un Ustensile', new_tool_path %>
        <ul>
          <li v-for="tool in tools" style="list-style: none">
            <a :href=`/tools/${tool.id}`>{{ tool.name }}</a>
            <a :href=`/tools/${tool.id}/edit`>Edit</a>
            <a v-on:click="destroyTool(tool.id)">X</a>
          </li>
        </ul>
    </div>
  </div>
</div>

<% content_for :after_js do %>
  <%= javascript_pack_tag 'tools' %>
<% end %>
