<div class="container">
  <div class="row">
    <div class="col-xs-12 ">
      <div class="recipe-title">
        <h2><strong><%= @tool.name %></strong></h2>
      </div>
      <div class="recipe-servings">
        <p><%= @tool.description %></p>
      </div>
    </div>
  </div>
</div>
