// Import Google fonts
@import url("https://fonts.googleapis.com/css?family=Lato:400,700|Work+Sans:300");

// Define fonts for body and headers
$body-font: "Lato","Arial", "sans-serif";
$headers-font: "Work Sans", "Helvetica", "sans-serif";

// Set all fonts to 16px;
body {
  font-size: 1.6rem;
}
