// Import Google fonts

// Define fonts for body and headers
$body-font: "Helvetica Neue", "Helvetica", "sans-serif";
$headers-font: "Helvetica Neue", "Helvetica", "sans-serif";

// Set all fonts to 16px;
body {
  font-size: 1.8rem;
}
