$color-primary-light: #e21b20;
$color-primary-dark: #fe1d00;

$color-grey-light-1: #F7F7F7;
$color-grey-light-2: #EEE;

$color-grey-dark: #777;
$color-white: #FFF;
$color-black: #000;

// FONTS
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

// SCREEN SIZES
$screen-xs:  480px;
$screen-s:   640px;
$screen-m:   767px;
$screen-l:   1080px;
$screen-xl:  1440px;
