$color-primary-light: #ff8000;
$color-primary-dark: #fd5f00;

$color-grey-light-1: #F7F7F7;
$color-grey-light-2: #EEE;

$color-grey-dark: #777;
$color-white: #FFF;
$color-black: #000;

// FONTS
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
