.header {
  height: 98vh;
  // linear-gradient(to right bottom, rgba($color-primary-light, .8), rgba($color-primary-dark, .8)),
  background-image: url(https://images.unsplash.com/photo-1496116218417-1a781b1c416c?ixlib=rb-0.3.5&s=aa5f954f8c3de6f8427e6f8ad35c0085&auto=format&fit=crop&w=2550&q=80);
  background-size: cover;
  background-position: center;
  margin: 1rem;
  position: relative;
  // clip-path: polygon(0 0, 100% 0, 100% 90vh, 50% 100vh, 0 90vh);

  &__logo-box {
    position: absolute;
    top: 1rem;
    left: 1rem;
  }

  &__logo {
    font-size: 6rem;
    font-weight: 100;
    text-transform: uppercase;
    color: $color-white;
    background-color: $color-black;
    padding: 0 .5rem 0 2rem;
    border-radius: 3px;
    letter-spacing: 1.5rem;
  }

  &__text-box {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    font-size: 1.6rem;
    font-weight: 100;
    color: $color-white;
    background-color: $color-black;
    padding: 1rem .5rem 1rem 2rem;
    border-radius: 3px;
    h1 {
      margin: 0;
    }
  }

  &__button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}

.heading-primary {
  color: $color-white;
  text-transform: uppercase;
  border-radius: 3px;

  backface-visibility: hidden;

  &--main {
    display: block;
    font-size: 3rem;
    font-weight: 300;
    letter-spacing: 1.5rem;

    animation: moveInLeft 1s ease-out;
  }

  &--sub {
    display: block;
    font-size: 3rem;
    font-weight: 300;

    letter-spacing: 1.5rem;

    animation: moveInLeft 1.2s ease-out;
  }
}
