.landing {
  background-color: $color-white;
  width: 100%;

  .headline {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-family: $headers-font;
    font-weight: 600;
    width: 100%;
    padding: 0 7%;
    margin-top: 5rem;

    &__main{
      font-size: 4rem;
    }
    &__sub {
      font-size: 4rem;
      line-height: 4rem;
      background-color: black;
      color: white;
      padding: 5px 8px 5px 8px;
      margin-left: .5rem;
    }
  }

  .section-search {
    width: 100%;
    padding: 0 .5rem;
    margin-top: 10rem;

    .search {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      text-align: center;
      margin: auto;
      margin-bottom: 2rem;
      width: 32rem;
      height: 4.5rem;
      border-bottom: 4px solid $color-black;
      a {
        cursor: pointer;
        margin-bottom: -.7rem;
        #icon-search {
          height: 2.4rem;
        }
        #icon-clear {
          height: 1.5rem;
        }
      }

      input {
        border: none;
        text-align: left;
        width: 100%;
        margin: 0 .5rem;
        font-size: 2.4rem;
        line-height: 2.4rem;
        &:focus {
          outline: none;
          &::-webkit-input-placeholder { opacity: 0; }
        }
      }
    }

    .recipe__box {
      &--scroll-wrapper {
        display: flex;
        align-items: flex-end;
        flex-wrap: nowrap;
        overflow-x: auto;
        // transition: margin-left 0.3s ease;
      }
      &--no-result {
        height: 27rem;
        display: flex;
        justify-content: center;
        align-items: center;
        span {
          text-align: center;
        }
        p {
          font-size: 2.4rem;
          margin-bottom: 2rem;
          color: $color-grey-dark;
        }
        a {
          font-size: 2.4rem;
          color: $color-black;
          text-decoration: none;

          &:after {
            content: '';
            display: block;
            height: 2px;
            background: $color-black;
            width: 0;
          }

          &:hover, &:focus { text-decoration: none; }

          &:hover:after,
          &:focus:after {
            width: 100%;
            transform: scaleX(0);
            transform-origin: right;
            animation: grow-left cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s forwards;
          }
        }
      }

      &__card {
        background-color: $color-white;
        width: 27rem;
        height: 27rem;
        flex: 0 0 auto;
        cursor: pointer;
        transition: all .4s ease;
        display: flex;
        align-items: flex-end;
        padding-bottom: .5rem;

        &:not(:last-child) {
          margin-right: 1rem;
        }

        &__link {
          text-decoration: none;
          width: 100%;
          &:last-child {
            margin-right: .5rem;
          }
        }

        h2 {
          color: $color-black;
          text-transform: uppercase;
          font-size: 2.8rem;
          font-family: $headers-font;
          font-weight: 600;
          margin-bottom: 0.5rem;
        }
        .recipe-image {
          background-size: cover;
          background-position: center;
          width: 100%;
          height: 18rem;
          box-shadow: 5px 5px $color-black;
        }
        .recipe__card__info {
          display: flex;
          justify-content: flex-start;
          align-items: flex-end;
          height: 100%;
          p {
            color: $color-white;
            background-color: $color-black;
            padding: .2rem .5rem 0 .5rem;
            font-weight: 600;
          }
        }
      }
    }
  }

  .recipe-cards-enter, .recipe-cards-leave-to {
    opacity: 0;
    transform: translateY(40px) scale(.5);
  }
}

@media screen and (max-width: $screen-s) {
  .landing {
    .section-search .recipe__box--no-result {
      p {
        font-size: 2rem;
      }
      a {
        font-size: 2rem;
      }
    }

    .headline {
      justify-content: flex-start;
      margin-top: 0;
      &__main{
        font-size: 3.6rem;
        line-height: 3.6rem;
        margin-left: .7rem;
        margin-bottom: .5rem;
      }
      &__sub {
        font-size: 3.6rem;
        line-height: 3.6rem;
        margin-left: 0;
      }
    }

    .section-search {
      margin-top: 5rem;
      .search {
        width: 28rem;
        input {
          width: 23rem;
          font-size: 2rem;
        }
      }
    }

    .recipe__box--scroll-wrapper {
      .recipe__box__card {
        width: 23rem;
        h2 {
          font-size: 2.4rem;
        }
      }
    }
  }
}
