.header {
  height: calc(100vh - 1rem);
  background-color: $color-white;
  margin: .5rem;
  position: relative;
  border: 1px solid $color-black;

  .search {
    position:absolute;
    top: 50%;
    left:50%;
    transform: translateX(-50%) translateY(-50%);
  }

  &__title{
    position: absolute;
    bottom: 3rem;
    right: 3rem;

    &--text {
      margin: 0;
      font-size: 6rem;
      font-weight: 300;
      text-transform: uppercase;
      color: $color-white;
      background-color: $color-black;
      padding: .7rem .5rem 0.7rem 2rem;
      border-radius: 3px;
      letter-spacing: 1.5rem;
      font-family: $headers-font;
    }
  }

  &__text-box {
    position: absolute;
    bottom: 6rem;
    right: 3rem;
    font-size: 1.6rem;
    font-weight: 100;
    color: $color-white;
    background-color: $color-black;
    padding: 1rem .5rem 1rem 2rem;
    border-radius: 3px;
    h1 {
      margin: 0;
    }
  }

}

.heading-primary {
  color: $color-white;
  text-transform: uppercase;
  border-radius: 3px;
  font-size: 3rem;
  font-weight: 300;
  letter-spacing: 1.5rem;

  backface-visibility: hidden;

  &--main {
    display: block;
    animation: moveInLeft 1s ease-out;
  }

  &--sub {
    display: block;
    animation: moveInLeft 1.2s ease-out;
  }
}

@media screen and (max-width: 32rem) {
  .header {
    margin: 3px;
    &__title {
      bottom: 1rem;
      right: 1rem;
    }

    &__title--text {
      font-size: 2rem;
    }

    &__text-box {
      bottom: 10rem;
      right: .5rem;
    }
  }

  .heading-primary {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 50rem) and (min-width: 32.1rem) {
  .header {
    margin: .5rem;
    &__title {
      bottom: 1rem;
      right: 1rem;
    }

    &__title--text {
      font-size: 3rem;
    }

    &__text-box {
      bottom: 10rem;
      right: 1rem;
    }
  }

  .heading-primary {
    font-size: 2rem;
  }
}

@media screen and (max-width: 100rem) and (min-width: 50.1rem) {
  .header {
    &__title {
      bottom: 2rem;
      right: 2rem;
    }

    &__title--text {
      font-size: 5rem;
    }

    &__text-box {
      bottom: 10rem;
      right: 2rem;
    }
  }

  .heading-primary {
    font-size: 2.5rem;
  }
}
