<link rel="stylesheet" href="//unpkg.com/iview/dist/styles/iview.css">

<div class="container" v-cloak>
  <div class="recipe-title text-center">
    <%= link_to recipe_path(@recipe) do %>
      <h2><strong><%= @recipe.title %></strong></h2>
    <% end %>
  </div>
  <div id="recipe_add_details">
    <div class="select-details">
      <!-- MEASURES -->
      <div class="recipe-measures">
        <div>
          <h4 style="margin-top: 10px; margin-bottom: 10px;">Liste des mesures</h4>
          <draggable v-model="measures" :move="checkMove">
            <div v-for="(measure, index) in measures" :options="{draggable:'.item'}" style="width: 450px; font-size: 18px; list-style: none; display: flex; justify-content: space-between; cursor: move; border: 1px solid #DCDDE0; height: 35px; margin-bottom: 5px; padding: 5px 10px; border-radius: 2px;" v-on:mouseenter="displayButtons('measure', index, 'block')" v-on:mouseleave="displayButtons('measure', index, 'none')">
              <p><strong style="color: #338BF0;">{{ index + 1}}</strong><i class="fa fa-bars" aria-hidden="true" style="color: #338BF0; margin: 0px 10px;"></i>{{ measure.quantity }}{{ measure.text1 }}{{ measure.ingredient.name }}{{ measure.text2 }}</p>
              <div :id="'measure_' + index" style="display: none;">
                <a v-on:click="editMeasure(measure)"><i class="fa fa-pencil-square-o" style="font-size: 20px;" aria-hidden="true"></i></a>
                <a v-on:click="destroyMeasure(measure, index)" style="margin: 0px 5px;"><i class="fa fa-times" style="color: #cf1b1b; font-size: 20px;" aria-hidden="true"></i></a>
              </div>
            </div>
          </draggable>
          <button v-if="hasmoved == true" v-on:click="saveOrder" class="btn btn-sm btn-success" slot="content" style="height: 32px;">Sauver Ordre</button>
        </div>
        <div>
          <h4 style="margin-top: 20px; margin-bottom: 10px;">Ajout des mesures</h4>
          <div style="display: flex; align-items: center;">
            <input v-model.number="newMeasure.quantity" type="integer" class="form-control" placeholder="Quantité" style="width: 150px; height: 32px; margin-right: 5px;">
            <input v-model="newMeasure.text1" type="text" class="form-control" placeholder="Texte 1" style="width: 150px; height: 32px; margin-right: 5px;">
            <template>
              <i-select v-model="newMeasure.ingredient.id" filterable style="width: 150px; margin-right: 5px;">
                <i-option v-for="ingredient in ingredients" :value="ingredient.id" :key="ingredient.name">{{ ingredient.name }}</i-option>
              </i-select>
            </template>
            <input v-model="newMeasure.text2" type="text" class="form-control" placeholder="Texte 2" style="width: 150px; height: 32px; margin-right: 5px;">
            <a v-on:click="createMeasure(newMeasure)">
              <i v-if="checkEditMeasure == false" class="fa fa-plus-square-o" style="font-size: 20px;" aria-hidden="true"></i>
              <i v-else class="fa fa-floppy-o" style="font-size: 20px;" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>

      <!-- TAGS -->
      <div class="recipe-tags">
        <h4 style="margin-top: 10px; margin-bottom: 10px;">Tags</h4>
        <template>
          <i-select v-model="selectedTags" multiple filterable style="width: 617px; ">
            <i-option v-for="tag in tags" :value="tag.id" :key="tag.name" style="font-size: 14px !important">{{ tag.name }}</i-option>
          </i-select>
        </template>
        <a v-if="selectedTags.length != tagsCount" v-on:click="addTags(selectedTags)"><i class="fa fa-floppy-o" style="font-size: 20px;" aria-hidden="true"></i></a>
      </div>

      <!-- TOOLS -->
      <div class="recipe-tools">
        <h4 style="margin-top: 10px; margin-bottom: 10px;">Ustensiles</h4>
        <template>
          <i-select v-model="selectedTools" multiple filterable style="width: 617px; ">
            <i-option v-for="tool in tools" :value="tool.id" :key="tool.name">{{ tool.name }}</i-option>
          </i-select>
        </template>
        <a v-if="selectedTools.length != toolsCount" v-on:click="addTools(selectedTools)"><i class="fa fa-floppy-o" style="font-size: 20px;" aria-hidden="true"></i></a>
      </div>

      <!-- STEPS -->
      <div class="recipe-steps">
        <h4 style="margin-top: 10px; margin-bottom: 10px;">Etapes</h4>
        <div v-for="(step, index) in steps" style="display: flex; justify-content: flex-start; align-items: center; margin-bottom: 5px;">
          <input class="form-control" type="integer" v-model="step.index" placeholder="#" style="width: 40px;">
          <textarea class="form-control" type="text" v-model="step.text" placeholder="Description de l'étape" style="margin: 0px 5px; width: 570px;"></textarea>
          <a v-on:click="updateStep(step)"><i class="fa fa-floppy-o" style="font-size: 20px;" aria-hidden="true"></i></a>
          <a v-on:click="destroyStep(step, index)" style="margin: 0px 5px;"><i class="fa fa-times" style="color: #cf1b1b; font-size: 20px;" aria-hidden="true"></i></a>
        </div>
        <button v-on:click="addStep" class="btn btn-sm btn-success" style="margin-bottom: 20px; text-align: center;">Nouvelle étape</button>
      </div>
    </div>

    <div class="create-details" style="font-size: 14px; font-family: 'Open Sans'; font-weight: bolder;">
      <h4 style="margin-top: 10px; margin-bottom: 10px;">Créer les élements manquants</h4>
      <collapse style="width:290px">
        <panel name="1">
          Ajouter un ingrédient
          <input v-model="newIngredient.name" type="text" slot="content" class="form-control" id="ingredientName" placeholder="Nom de l'ingrédient" style="width:260px">
          <input v-model="newIngredient.description" type="text" slot="content" class="form-control" id="ingredientDescription" placeholder="Description" style="width:260px">
          <button v-on:click="createIngredient(newIngredient)" class="btn btn-sm btn-success" slot="content">Ajouter</button>
        </panel>
        <panel name="2">
          Ajouter un tag
          <input v-model="newTag.name" type="text" slot="content" class="form-control" id="tagName" placeholder="Nom du tag" style="width:260px">
          <button v-on:click="createTag(newTag)" class="btn btn-sm btn-success" slot="content">Ajouter</button>
        </panel>
        <panel name="3">
          Ajouter un ustensil
          <input v-model="newTool.name" type="text" slot="content" class="form-control" id="toolName" placeholder="Nom de l'ustensil" style="width:260px">
          <button v-on:click="createTool(newTool)" class="btn btn-sm btn-success" slot="content">Ajouter</button>
        </panel>
      </collapse>
    </div>
  </div>
</div>

<% content_for :after_js do %>
  <%= javascript_pack_tag 'recipes' %>
<% end %>
