<link rel="stylesheet" href="//unpkg.com/iview/dist/styles/iview.css">

<div id="recipe-add-details" v-cloak>
  <div class="recipe-info">
    <div v-if="!editBasics" class="item-center-flex-start" style="height: 50px;">
      <a v-on:click="editBasics = true">
        <Icon type="md-create" size="20" style="margin-right: 10px;" />
      </a>
      <a :href="recipe.url"><h2 style="font-weight: bolder; text-align: center;">{{ recipe.title }}</h2></a>
    </div>
    <div v-else style="height: 50px;" class="item-center-flex-start">
      <a v-on:click="editRecipe">
        <Icon type="md-checkmark" size="20" style="margin-right: 10px;" />
      </a>
      <input class="form-control" style="font-size: 38px; font-family: 'Raleway', 'Helvetica', 'sans-serif'; font-weight: 700;" type="text" v-model="recipe.title"><h2 class="text-center"></h2>
    </div>
    <div id="recipe-basics" style="display: flex; justify-content: space-between; align-items: center; width: 620px; height: 50px;">
      <div class="item-center-flex-start">
        <h5 style="margin-right: 10px;">Couverts: </h5>
        <h5 v-if="!editBasics">{{ recipe.servings }}</h5>
        <input v-else class="form-control" type="text" style="width: 50px;" v-model="recipe.servings">
      </div>
      <div class="item-center-flex-start">
        <h5 style="margin-right: 10px;">Préparation: </h5>
        <h5 v-if="!editBasics">{{ recipe.preparation_time }}</h5>
        <input v-else class="form-control" type="text" style="width: 50px;" v-model="recipe.preparation_time">
      </div>
      <div class="item-center-flex-start">
        <h5 style="margin-right: 10px;">Cuisson: </h5>
        <h5 v-if="!editBasics">{{ recipe.cooking_time }}</h5>
        <input v-else class="form-control" type="text" style="width: 50px;" v-model="recipe.cooking_time">
      </div>
    </div>
  </div>

  <div class="details">
    <div class="select-details">
      <!-- MEASURES -->
      <div class="recipe-measures">
        <div>
          <h4 style="margin-top: 10px; margin-bottom: 10px;">Liste des mesures</h4>
          <draggable v-model="measures" :move="checkMove">
            <div v-for="(measure, index) in measures" :options="{draggable:'.item'}" class="draggable-measure" v-on:mouseenter="displayButtons('measure', index, 'block')" v-on:mouseleave="displayButtons('measure', index, 'none')">
              <div class="item-center-space-between border" style="width: 620px;">
                <p><strong style="color: #338BF0;">{{ index + 1}}</strong><i class="fa fa-bars" aria-hidden="true" style="color: #338BF0; margin: 0px 10px;"></i>{{ measure.ingredient.name }}{{ measure.text2 }}</p>
                <p>{{ measure.quantity }}{{ measure.text1 }}</p>
              </div>
              <div :id="'measure_' + index" style="display: none;">
                <a v-on:click="editMeasure(measure)"><Icon type="md-create" size="18" /></a>
                <a v-on:click="destroyMeasure(measure, index)" style="margin: 0px 5px;"><Icon type="md-close" size="18" color="#cf1b1b"/></a>
              </div>
            </div>
          </draggable>
          <button v-if="hasmoved == true" v-on:click="saveOrder" class="btn btn-sm btn-success" style="height: 32px;">Sauver Ordre</button>
        </div>
        <div>
          <h4 style="margin-top: 20px; margin-bottom: 10px;">Ajout des mesures</h4>
          <div class="item-center-flex-start new-measure">
              <i-select v-model="newMeasure.ingredient.id" filterable style="width: 150px; margin-right: 5px;" placeholder="Ingrédient" >
                <i-option v-for="ingredient in ingredients" :value="ingredient.id" :key="ingredient.name">{{ ingredient.name }}</i-option>
              </i-select>
            <input v-model="newMeasure.text2" type="text" class="new-input form-control" placeholder="Texte 2" style="width: 150px; height: 32px; margin-right: 5px;">
            <input v-model.number="newMeasure.quantity" type="integer" class="new-input form-control" placeholder="Quantité" style="width: 150px; height: 32px; margin-right: 5px;">
            <input v-model="newMeasure.text1" type="text" class="new-input form-control" placeholder="Texte 1" style="width: 150px; height: 32px; margin-right: 5px;">
            <a v-if="checkNewMeasure == true" v-on:click="createMeasure(newMeasure)">
              <Icon  type="md-checkmark" size="20"/>
            </a>
          </div>
        </div>
      </div>

      <!-- TAGS -->
      <div class="recipe-tags">
        <h4 style="margin-top: 10px; margin-bottom: 10px;">Tags</h4>
        <template>
          <i-select v-model="selectedTags" multiple filterable style="width: 617px; ">
            <i-option v-for="tag in tags" :value="tag.id" :key="tag.name" style="font-size: 14px !important">{{ tag.name }}</i-option>
          </i-select>
        </template>
        <a v-if="selectedTags.length != tagsCount" v-on:click="addTags(selectedTags)"><Icon  type="md-checkmark" size="20"/></a>
      </div>

      <!-- TOOLS -->
      <div class="recipe-tools">
        <h4 style="margin-top: 10px; margin-bottom: 10px;">Ustensiles</h4>
        <template>
          <i-select v-model="selectedTools" multiple filterable style="width: 617px; ">
            <i-option v-for="tool in tools" :value="tool.id" :key="tool.name">{{ tool.name }}</i-option>
          </i-select>
        </template>
        <a v-if="selectedTools.length != toolsCount" v-on:click="addTools(selectedTools)"><Icon  type="md-checkmark" size="20"/></a>
      </div>

      <!-- STEPS -->
      <div class="recipe-steps">
        <h4 style="margin-top: 10px; margin-bottom: 10px;">Etapes</h4>
        <div v-for="(step, index) in steps" class="item-center-flex-start" style="margin-bottom: 5px;" v-on:mouseenter="displayButtons('step', index, 'block')" v-on:mouseleave="displayButtons('step', index, 'none')">
          <input class="form-control" type="integer" v-model="step.order" placeholder="#" style="width: 40px;">
          <textarea class="form-control" type="text" v-model="step.text" placeholder="Description de l'étape" style="margin: 0px 5px; width: 570px;"></textarea>
          <a v-if="step.text.length != stepsLength[index]" v-on:click="updateStep(step, index)"><Icon  type="md-checkmark" size="20"/></a>
          <div :id="'step_' + index" style="display: none;">
            <a v-on:click="destroyStep(step, index)" style="margin: 0px 5px;"><Icon type="md-close" size="18" color="#cf1b1b"/></a>
          </div>
        </div>
        <button v-on:click="addStep" class="btn btn-sm btn-success" style="margin-bottom: 20px; text-align: center;">Nouvelle étape</button>
      </div>
    </div>

    <div class="create-details" style="font-size: 14px; font-family: 'Open Sans'; font-weight: bolder;">
      <h4 style="margin-top: 10px; margin-bottom: 10px;">Créer les élements manquants</h4>
      <collapse style="width:330px">
        <panel name="1">
          Ajouter un ingrédient
          <div class="item-center-flex-start" slot="content">
            <div>
              <input v-model="newIngredient.name" type="text" class="form-control" id="ingredientName" placeholder="Nom" style="width:275px">
              <input v-model="newIngredient.description" type="text" class="form-control" id="ingredientDescription" placeholder="Description" style="width:275px; margin-top: 5px;">
            </div>
            <a v-if="newIngredient.name != ''" v-on:click="createIngredient(newIngredient)" class="save-icon"><Icon  type="md-checkmark" size="20"/></a>
          </div>
        </panel>
        <panel name="2">
          Ajouter un tag
          <div class="item-center-flex-start" slot="content">
            <input v-model="newTag.name" type="text" class="form-control" id="tagName" placeholder="Nom" style="width:275px">
            <a v-if="newTag.name != ''" v-on:click="createTag(newTag)" class="save-icon"><Icon  type="md-checkmark" size="20"/></a>
          </div>
        </panel>
        <panel name="3">
          Ajouter un ustensil
          <div class="item-center-flex-start" slot="content">
            <input v-model="newTool.name" type="text" class="form-control" id="toolName" placeholder="Nom" style="width:275px">
            <a v-if="newTool.name != ''" v-on:click="createTool(newTool)" class="save-icon"><Icon  type="md-checkmark" size="20"/></a>
          </div>
        </panel>
      </collapse>
    </div>
  </div>
</div>

<% content_for :after_js do %>
  <%= javascript_pack_tag 'recipes' %>
<% end %>
