<div class="wrapper">
  <div class="container">
    <div align="center">
      <h1>Nos recettes</h1>
        <%= link_to 'Ajouter une recette', new_recipe_path %>
        <ul>
          <% @recipes.each do |recipe| %>
            <li style="list-style: none">
              <%= link_to recipe.name, recipe_path(recipe.slug) %>
            </li>
          <% end %>
        </ul>
    </div>
  </div>
</div>
