<div id="recipe-index" class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1">
          <ul class="letters">
            <% @recipe_index.each_with_index do |(letter, recipes), index| %>
              <% if index.even? %>
                <div class="letter letter--left">
                  <div class="letter__box">
                    <h1><%= letter.upcase %></h1>
                  </div>
                  <ul class="recipes__list">
                    <% recipes.each do |recipe| %>
                    <li class="recipe">
                      <%= link_to recipe[:name], recipe_path(recipe[:slug]) %>
                    </li>
                    <% end %>
                  </ul>
                </div>
                <div class="short-line"></div>
              <% else %>
                <div class="letter letter--right">
                  <ul class="recipes__list">
                    <% recipes.each do |recipe| %>
                    <li class="recipe">
                      <%= link_to recipe[:name], recipe_path(recipe[:slug]) %>
                    </li>
                    <% end %>
                  </ul>
                  <div class="letter__box">
                    <h1><%= letter.upcase %></h1>
                  </div>
                </div>
                <div class="short-line"></div>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
