// REMOVING ALL STANDARD HTML BEHAVIOURS
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

// Set 1rem = 10px, whatever the users font size
html {
  font-size: 62.5%;
}

body {
  padding-top: 10rem;
  padding-bottom: 5rem;

  box-sizing: border-box;
  overflow-y: scroll;
  min-height: 65rem;
    &::-webkit-scrollbar{
    display: none;/*width:0em is better*/
  }
  li {
    list-style: none;
  }
  h1, h2, h3, h4, h5, p {
    margin: 0;
    color: black;
  }
}

[v-cloak] { display: none; }
