<div class="bottombar" id="bottombar">
  <a id="bottom_recipes_index_link" class="bar__link" href="/recipes">Recettes</a>

  <% unless request.path == '/' %>
    <form novalidate="novalidate" onsubmit="return bottomSearchQuery()" class="searchbox_bottom">
      <div role="search" class="search">
        <input type="search" name="query" required="required" class="search__input">
      </div>
    </form>
  <% end %>

  <% if current_user.present? && current_user.admin? %>
    <div class="hamburger-menu">
      <div class="dropup">
        <%= render 'shared/menu' %>
      </div>
    </div>
  <% end %>

  <div class="bar__title">
    <a id="home_link" href="/">
      <h1 class="bar__title--text">oishi.</h1>
    </a>
  </div>
</div>

<script type="text/javascript">
  const input_bottom = document.querySelector('input');

  if (location.pathname === '/recipes') {
    document.getElementById('bottom_recipes_index_link').style.textDecoration = 'underline'
  }

  function bottomSearchQuery() {
    const query = document.querySelector('.searchbox_bottom input').value
    window.location = `${window.location.origin}/?query=${query}`
    return false
  }
</script>
