<div class="topbar">
  <a class="bar__link" href="/">Acceuil</a>
  <a class="bar__link" href="/recipes">Index</a>
  <div class="bar__line"></div>
  <div class="bar__title">
    <h1 class="bar__title--text">oishi.</h1>
  </div>
</div>
