<div class="topbar" id="topbar">
  <a class="bar__link" href="/">Acceuil</a>
  <a class="bar__link" href="/recipes">Recettes</a>
  <% unless request.path == '/' %>
    <form novalidate="novalidate" onsubmit="return searchQuery()" class="searchbox">
      <div role="search" class="search">
        <input type="search" name="query" required="required" class="search__input">
        <button type="reset" title="Annuler" class="button_svg button_svg__reset">
          <%= svg 'delete' %>
        </button>
      </div>
    </form>
  <% end %>

  <div class="bar__line"></div>
  <div class="bar__title">
    <h1 class="bar__title--text">oishi.</h1>
  </div>
</div>

<script type="text/javascript">
  const reset = document.querySelector('.searchbox [type="reset"]');
  if (reset) {
    reset.addEventListener('click', function() {  this.parentNode.querySelector('input').focus();})
  }
  document.querySelector('input').addEventListener('focus', function() { reset.style.display = 'block'; })
  document.querySelector('input').addEventListener('blur', function() { reset.style.display = 'none'; })

  function searchQuery() {
    const query = document.querySelector('.searchbox input').value
    window.location = `${window.location.origin}/?query=${query}`
    return false
  }
</script>
