<div class="container">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-4">
      <%= simple_form_for @ingredient do |f| %>
        <%= f.input :name, label: false, placeholder: 'Nom' %>
        <%= f.input :description, label: false, placeholder: 'Description'%>
        <%= f.button :submit, class: "btn btn-info"%>
      <% end %>
    </div>
  </div>
</div>
