<div class="wrapper" id="ingredients-index">
  <div class="container">
    <div align="center">
      <h1>Liste des Ingrédients</h1>
        <%= link_to 'Ajouter un ingrédient', new_ingredient_path %>
        <ul>
          <li v-for="ingredient in ingredients">
            <a :href=`/ingredients/${ingredient.id}`>{{ ingredient.name }}</a>
            <a :href=`/ingredients/${ingredient.id}/edit`>Edit</a>
            <a v-on:click="destroyIngredient(ingredient.id)">X</a>
          </li>
        </ul>
    </div>
  </div>
</div>

<% content_for :after_js do %>
  <%= javascript_pack_tag 'ingredients' %>
<% end %>
