<div class="container">
    <div class="row">
      <div class="col-xs-4 col-xs-offset-4">
        <div class="form-wrapper">
          <%= simple_form_for @email do |f| %>
            <%= f.input :email_address, label: false, placeholder: 'Your email address' %>
            <%= f.button :submit, class: "btn btn-info"%>
          <% end %>
        </div>
      </div>
    </div>
  </div>
