<div
  class="landing"
  id="home"
>
  <section class="headline agent-1">
    <h1 class="headline__main">Cuisine japonaise.</h1>
    <h1 class="headline__sub">Simple</h1>
  </section>

  <div class="section-search" v-cloak>
    <div class="search">
      <a><%= svg 'search' %></a>
      <input
        v-on:input="query = $event.target.value"
        type="search"
        name="search"
        v-model="query"
        class="search__input"
        placeholder="Recherche"
      >
      <a v-if='query && query.length > 0 ' v-on:click='clearQuery'><%= svg 'delete' %></a>
    </div>
    <div class="recipe__box">
      <div
        v-if="recipesCount === 0 && !isLoading"
        class="recipe__box--no-result"
      >
        <span>
          <p>Aucune recette trouvée</p>
          <a href="/recipes">Voir toutes les recettes</a>
        </span>
      </div>
      <transition-group
        v-else
        name="recipe-cards"
        tag="div"
        class="recipe__box--scroll-wrapper"
        v-bind:style="{ marginLeft: leftMargin }"
        v-on:before-enter="getLeftMargin"
        v-on:after-leave="getLeftMargin"
      >
        <div
          v-for="recipe in recipes"
          v-bind:key="recipe.id"
          class="recipe__box__card"
        >
          <a :href="recipeUrl(recipe.slug)" class="recipe__box__card__link">
            <h2>{{ recipe.name }}</h2>
            <div
              class="recipe-image"
              :style='{ backgroundImage: `url("${recipe.photo_url}")` }'
              >
            </div>
            <div class="recipe__card__info">
              <span>
                <%# svg 'time' %>
                <p>{{ recipe.preparation_time }}min</p>
              </span>
              <span>
                <%# svg 'chef-hat' %>
                <p>{{ recipe.difficulty }}</p>
              </span>
            </div>
          </a>
        </div>
      </transition-group>
    </div>
  </div>
</div>

<% content_for :after_js do %>
  <%= javascript_pack_tag 'home' %>
<% end %>
