
<div class="structure">
  <div class="bande">
    <div class="banner-content">
      <h2 class="bottom-right">OISHI</h2>
    </div>
  </div>
</div>
<div class="incipit">
  <div><h2>/ La Gastronomie Japonaise Simplifiée /</h2></div>
</div>
<div class="cardholder">
  <div class="container">
    <div class="row">
      <% @recipe.each do |r| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
          <div class="card-category">Popular</div>
          <div class="card-description">
            <h2><% @r.title %></h2>
            <p>Very cool city, the best</p>
          </div>
          <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
          <a class="card-link" href="#" ></a>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>


