<div class="landing">

  <div class="section-search">
    <div class="search">
      <input type="text" placeholder="Essayez: 'Udon'">
    </div>
    <div class="recipe__box">
      <div class="recipe__box--scroll-wrapper">
        <% @recipes.each do |recipe| %>
        <div class="recipe__box__card">
          <h2><%= recipe.title %></h2>
        </div>
        <% end %>
        <div class="recipe__box__card"></div>
      </div>
    </div>
  </div>
  <div class="text-box">
    <h1 class="heading-primary">
      <span class="heading-primary--sub">Recettes</span>
      <span class="heading-primary--main">Japonaises</span>
    </h1>
  </div>

  <div class="title">
    <h1 class="title--text">oishi.io</h1>
  </div>
</div>
