<div
  class="landing"
  id="home"
  v-bind:style="{ height: getScreenHeight() }"
>
  <div class="title">
    <h1 class="title--text">oishi.</h1>
  </div>

  <!-- <div class="text-box">
    <h1 class="heading-primary">
      <span class="heading-primary--main">Cuisine</span>
      <span class="heading-primary--sub">Japonaise</span>
    </h1>
  </div> -->

  <div class="section-search" v-cloak>
    <div class="search">
      <a><%= svg 'search' %></a>
      <input
        v-on:input="query = $event.target.value"
        type="search"
        name="search"
        v-model="query"
        class="search__input"
        placeholder="Recherche"
      >
      <a v-if='query != ""' v-on:click='clearQuery'><%= svg 'delete' %></a>
    </div>
    <div class="recipe__box">
      <!-- <div class="sk-folding-cube">
        <div class="sk-cube1 sk-cube"></div>
        <div class="sk-cube2 sk-cube"></div>
        <div class="sk-cube4 sk-cube"></div>
        <div class="sk-cube3 sk-cube"></div>
      </div> -->
      <div
        v-if="recipesCount === 0 && !isLoading"
        class="recipe__box--no-result"
      >
        <p>Aucune recette trouvée</p>
      </div>
      <transition-group
        v-else
        name="recipe-cards"
        tag="div"
        class="recipe__box--scroll-wrapper"
        v-bind:style="{ marginLeft: leftMargin }"
        v-on:before-enter="getLeftMargin"
        v-on:after-leave="getLeftMargin"
      >
        <div
          v-for="recipe in recipes"
          v-bind:key="recipe.id"
          class="recipe__box__card"
          v-on:click="goToRecipe(recipe.id)"
        >
          <h2>{{ recipe.name }}</h2>
          <div
            class="recipe-image"
            :style='{ backgroundImage: `url("${recipe.photo_url}")` }'
          >
          </div>
          <p><strong>Couverts: </strong>{{ recipe.servings }} pers.</p>
          <p><strong>Préparation: </strong>{{ recipe.preparation_time }} min</p>
        </div>
      </transition-group>

    </div>
  </div>
</div>

<% content_for :after_js do %>
  <%= javascript_pack_tag 'home' %>
<% end %>
