<script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.3/velocity.min.js"></script>

<div class="landing" id="home"
     v-bind:style="{ height: getScreenHeight() }">

  <div class="section-search">
    <div class="search">
      <input v-on:input="query = $event.target.value"
             type="text" class="search__input"
             placeholder="Essayez: 'Udon'">
    </div>
    <div class="recipe__box">
      <div class="sk-folding-cube" v-show="isLoading">
        <div class="sk-cube1 sk-cube"></div>
        <div class="sk-cube2 sk-cube"></div>
        <div class="sk-cube4 sk-cube"></div>
        <div class="sk-cube3 sk-cube"></div>
      </div>
      <div class="recipe__box--no-result" v-if="recipesCount === 0 && !isLoading">
        Aucune recette trouvée
      </div>
      <transition-group name="recipe-cards" tag="div" class="recipe__box--scroll-wrapper" v-else
      v-bind:style="{ marginLeft: leftMargin }"
      v-on:after-enter="getLeftMargin"
      v-on:after-leave="getLeftMargin"
      >
        <div
          v-for="recipe in recipes"
          v-bind:key="recipe.id"
          class="recipe__box__card"
        >
          <h2><a :href=`/recipes/${recipe.id}`>{{ recipe.name }}</a></h2>
        </div>
      </transition-group>

    </div>
  </div>
  <div class="text-box">
    <h1 class="heading-primary">
      <span class="heading-primary--sub">Recettes</span>
      <span class="heading-primary--main">Japonaises</span>
    </h1>
  </div>

  <div class="title">
    <h1 class="title--text">oishi.io</h1>
  </div>
</div>

<% content_for :after_js do %>
  <%= javascript_pack_tag 'home' %>
<% end %>
