<div class="landing" id="home">

  <div class="section-search">
    <div class="search">
      <input v-model="query" type="text" class="search__input" placeholder="Essayez: 'Udon'">
      <a v-on:click="searchRecipes" href="#" class="search__button">Rechercher</a>
    </div>
    <div class="recipe__box">
      <div class="recipe__box--scroll-wrapper">
        <div v-for="recipe in recipes" class="recipe__box__card">
          <h2>{{ recipe.title }}</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="text-box">
    <h1 class="heading-primary">
      <span class="heading-primary--sub">Recettes</span>
      <span class="heading-primary--main">Japonaises</span>
    </h1>
  </div>

  <div class="title">
    <h1 class="title--text">oishi.io</h1>
  </div>
</div>

<% content_for :after_js do %>
  <%= javascript_pack_tag 'home' %>
<% end %>
