<div
  class="landing"
  id="home"
  v-cloak
>
  <section class="headline">
    <h1 class="headline__text">Cuisine japonaise </h1>
    <h1 class="headline__text headline__text--white">Simple</h1>
  </section>

  <section class="search">
    <!-- RECIPE SEARCH FORM -->
    <form
      novalidate="novalidate"
      role="search"
      class="search__form"
    >
    <!-- v-on:submit.prevent="searchRecipes" -->
      <input
        v-on:input="query = $event.target.value"
        placeholder="Rechercher"
        type="search"
        name="query"
        v-model="query"
        id="landing-search"
        class="search__form__input"
        autocomplete="off"
        aria-label="Barre de recherche"
      >
      <button
        type="reset"
        title="Annuler"
        class="search__form__reset"
        v-on:click="clearQuery"
        v-if="query"
      >
        <%= svg 'delete' %>
      </button>
    </form>

    <!-- SEARCH FILTERS -->
    <div class="search__filters">
      <button
        v-for="filter in filters"
        class="filter"
        v-on:click="toggleFilter(filter.name)"
        v-bind:class=" filter.state ? 'active' : '' "
        >
        {{ filter.name }}
      </button>
    </div>

    <!-- RECIPE SEARCH RESULTS -->
    <div class="recipes__container">
      <!-- No results -->
      <div
        v-if="recipesCount === 0 && !isLoading"
        class="recipes--no-result"
      >
        <p>Aucune recette trouvée</p>
        <a
          class="link link--black link--after-anim"
          href="/recipes"
        >
          Voir toutes les recettes
        </a>
      </div>

      <!-- Results -->
      <div
        v-else
        class="recipes__scroll-wrapper"
      >
        <div
          v-for="recipe in recipes"
          v-bind:key="recipe.id"
          class="recipe__card"
        >
          <a :href="recipeUrl(recipe.slug)" class="recipe__link">
            <h1 class="recipe__title">{{ recipe.name }}</h1>
            <div
              class="recipe__image"
              :style='{ backgroundImage: `url("${recipe.image_url}")` }'
              >
              <div class="recipe__info">
                <p>{{ recipe.preparation_time }}min</p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>
</div>

<% content_for :after_js do %>
  <%= javascript_pack_tag 'home' %>
<% end %>
