<div
  class="landing"
  id="home"
  v-cloak
>
  <section class="headline">
    <p class="headline__text">Cuisine japonaise </p>
    <p class="headline__text headline__text--white">Simple</p>
  </section>

  <section class="search">
    <!-- RECIPE SEARCH FORM -->
    <form novalidate="novalidate" role="search" class="search__form">
      <input
        v-on:input="query = $event.target.value"
        type="search"
        name="query"
        v-model="query"
        id="landing-search"
        class="search__form__input"
      >
      <button
        type="reset"
        title="Annuler"
        class="search__form__reset"
        v-on:click="clearQuery"
      >
        <%= svg 'delete' %>
      </button>
    </form>

    <!-- RECIPE SEARCH RESULTS -->
    <div class="recipes__container">
      <!-- No Results -->
      <div
        v-if="recipesCount === 0 && !isLoading"
        class="recipes__container--no-result"
      >
        <p>Aucune recette trouvée</p>
        <a href="/recipes">Voir toutes les recettes</a>
      </div>

      <!-- Results -->
      <div
        v-else
        name="recipe-cards"
        class="recipes__container--scroll-wrapper"
        v-bind:style="{ marginLeft: leftMargin }"
      >
        <div
          v-for="recipe in recipes"
          v-bind:key="recipe.id"
          class="recipes__container__card"
        >
          <a :href="recipeUrl(recipe.slug)" class="recipes__container__card__link">
            <h2>{{ recipe.name }}</h2>
            <div
              class="recipe-image"
              :style='{ backgroundImage: `url("${recipe.image_url}")` }'
              >
              <div class="recipe__card__info">
                <p>{{ recipe.preparation_time }}min</p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>
</div>

<% content_for :after_js do %>
  <%= javascript_pack_tag 'home' %>
<% end %>
