<% if @tag.errors.any? %>
  // Render new tag form with errors
  const container = document.querySelector('#tag-form-container');
  container.innerHTML = '<%= j render "recipes/tag_form", recipe: @recipe, tag: @tag %>'
<% end %>

<% if @update %>
  const list = document.getElementById("tag-list");
  list.insertAdjacentHTML("beforeend", "<li><p><%= @tag.name %></p></li>");
<% end %>
