<div class="wrapper" id="tags-index">
  <div class="container">
    <div align="center">
      <h1>Liste des Tags</h1>
        <%= link_to 'Ajouter un tag', new_tag_path %>
        <ul>
          <li v-for="tag in tags" style="list-style: none">
            <a :href=`/tags/${tag.id}`>{{ tag.name }}</a>
            <a :href=`/tags/${tag.id}/edit`>Edit</a>
            <a v-on:click="destroyTag(tag.id)">X</a>
          </li>
        </ul>
    </div>
  </div>
</div>

<% content_for :after_js do %>
  <%= javascript_pack_tag 'tags' %>
<% end %>
