#recipe-show{
  .recipe-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .servingsandtime{

  }

  .recipe-topnotes{
    // display:flex;
    // justify-content: space-between;
    // align-items: flex-start;
    // margin-top: 5%;

  }

  .line{
    border-bottom: 1px solid black;
    margin-bottom: 15px;
    // padding-bottom: 40px;
  }

  .recipe-image{
    // flex: 0 0 60%;
    img{
      width: 100%;
      margin-bottom: 15px;
    }
  }

  .recipe-description{
    // flex: 1 0 40%;
    margin-bottom: 20px;
  }


  p{
      font-size: 14px;
      color: grey;
    strong{
      color: black;
    }
    }

  .recipe-info{
    // display: flex;
    // justify-content: space-between;
    // align-items: flex-start;
  }

  .recipe-mesures{
    // flex: 0 0 30%;
    padding: 0px;
    ul{
      padding-left: 0px;
      li {
      display: flex;
      justify-content: space-between;
      list-style: none;
      padding-left: 0px;
      }
    }
  }

  h3 {
      margin-top: 0px;
      font-size: 25px;
    }

  .recipe-etapes{
    margin-bottom: 40px;

    ul{
      padding: 0px;
    }
    li {
      list-style: none;
      p{
      margin-bottom: 10px;
    }
    }
    h5 {
      font-weight: bold;
      font-size: 20px;
      color: rgb(45, 140, 240)
    }
  }

  .recipe-ustensiles{
    padding: 0px;
    ul{
      padding-left: 0px;
      li {
      list-style: none;
      padding-left: 0px;
      // p {
      // font-size: 14px;
      }
    }
    h3 {
      margin-top: 0px;
    }

  }

  .email-ingredients-button {
    background-color: #fff;
    border: 1px solid #999;
    border-radius: 3px;
    color: #777;
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 300;
    letter-spacing: .2px;
    margin: 10px 0 0 34px;
    padding: 14px 30px;
  }

  .email-ingredients-button:hover {
    background: #777;
    color: white;
    text-decoration: none;
  }

  #module-recipe-cooked {
      background: #f2f3ef;
      font-size: 1.25em;
      margin: 40px 0 25px;
      padding: 14px;
      position: relative;
  }

  .recipe-cooked-button {
      background-color: transparent;
      border: 0;
      cursor: pointer;
      font-family: inherit;
      font-size: 1em;
  }
}






























