#recipe-show{
  .header {
    margin-top: 4rem;
    font-size: 3.8rem;
    text-transform: uppercase;
  }


  .servingsandtime{
    display: flex;
    margin-bottom: 2rem;
    justify-content: space-between;
    .icon__container {
      display: flex;
      align-items: center;
      svg {
        height: 2.5rem;
        margin-right: 5px;
      }
    }
  }

  .recipe-topnotes {
  }

  .line {
    border-bottom: 1px solid black;
    margin: 1.5rem 0;
  }

  .recipe-image{
    img{
      width: 100%;
      margin-bottom: 15px;
    }
  }

  .recipe-description{
    margin-bottom: 20px;
  }


  p {
    font-size: 16px;
    color: $color-black;
    strong{
      color: $color-black;
    }
  }

  .recipe-info{
  }

  .recipe-mesures{
    padding: 0px;
    ul{
      padding-left: 0px;
      li {
      display: flex;
      justify-content: space-between;
      padding-left: 0px;
      }
    }
  }

  h3 {
      margin-top: 0px;
      font-size: 25px;
    }

  .recipe-etapes{
    margin-bottom: 40px;

    ul{
      padding: 0px;
    }
    li {
      p{
      margin-bottom: 10px;
    }
    }
    h5 {
      font-weight: bold;
      font-size: 20px;
      color: rgb(45, 140, 240)
    }
  }

  .recipe-ustensiles{
    padding: 0px;
    ul{
      padding-left: 0px;
      li {
      padding-left: 0px;
      }
    }
    h3 {
      margin-top: 0px;
    }
  }

  @media screen and (max-width: $screen-s) {
    .servingsandtime {
      .icon__container {
        svg {
          height: 2rem;
        }
      }
    }
  }
}
