#recipe-add-details{
  margin: 1% 15%;
  .details {
    display: flex;
    justify-content: space-between;
  }
  .recipe-measures {
    .draggable-measure{
      width: 620px;
      font-size: 18px;
      list-style: none;
      display: flex;
      justify-content: space-between;
      cursor: move;
      border: 1px solid #DCDDE0;
      height: 35px;
      margin-bottom: 5px;
      padding: 5px 10px;
      border-radius: 2px;
    }

    .new-input {
      width: 150px !important;
      height: 32px;
      margin-right: 5px;
    }
  }
  .save-icon{
    margin-left: 5px;
    font-size: 20px;
  }
  .item-center-space-around {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .item-center-space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .item-center-flex-start {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  p {
    font-size: 18px !important;
  }
}

.ivu-select{
  .ivu-tag-text{
    font-size: 14px !important;
  }
}

