#recipes-index {
  .recipes__types {
    margin: 0;
    margin-top: 5rem;

    &__item {
      font-size: 2.4rem;
      color: $color-black;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      a {
        flex-shrink: 0;
        margin: 0 2rem;
        color: $color-grey-dark;
      }

      &:before {
        content: '';
        display: block;
        width: 100%;
      }

      &:after {
        content: '';
        display: block;
        height: 3px;
        background: $color-black;
        width: 0;
        transition: all ease 0.4s;
      }

      &:hover {
        a {
          text-decoration: none;
          cursor: pointer;
          color: $color-black;
        }
      }

      &.active {
        a {
          color: $color-black;
          font-weight: 600;
        }
        &:after,
        &:before {
          width: 100%;
        }
      }


    }
  }

  .letters{
    margin-top: 10rem;
  }

  .letter {
    display: flex;
    align-items: center;

    &--left {
      justify-content: flex-start;
      .letter__box {
        margin-right: 1rem;
      }
    }
    &--right {
      justify-content: flex-end;
      .letter__box {
        margin-left: 1rem;
      }
    }

    .letter__box {
      h1 {
        font-size: 10rem;
        text-align: center;
        line-height: 8.5rem;
        font-weight: 600;
      }
    }

    .recipes__list {
      .recipe {
        &:not(:last-child) {
          margin-bottom: 1rem;
        }

        a {
          font-size: 2.4rem;
          color: $color-black;

          &:after {
            content: '';
            display: block;
            height: 2px;
            background: black;
            width: 0;
          }

          &:hover, &:focus { text-decoration: none; }

          &:hover:after,
          &:focus:after {
            width: 100%;
            transform: scaleX(0);
            transform-origin: right;
            animation: grow-left cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s forwards;
          }
        }
      }
    }
  }

  .short-line {
    width: 2rem;
    height: 3px;
    background-color: $color-black;
    margin: 3rem auto;
  }

  @media screen and (max-width: $screen-s) {
    .recipes__types { margin-top: 0; justify-content: space-between; }
    .recipes__types__item { font-size: 2rem; }
    .letters{ margin-top: 4rem; }

    .letter {
      .letter__box { h1 { font-size: 8rem; line-height: 6.5rem; } }
      .recipes__list { .recipe { a { font-size: 2rem; } } }
    }

    .short-line { &:not(:last-child) { margin: 2rem auto; } }
  }
}
