#recipe-show{
  color: black;

  .header {
    margin-top: 3rem;
    font-size: 4.8rem;
    text-transform: uppercase;
  }

  .line {
    border-bottom: 5px solid $color-black;
    margin: 1rem 0 6rem 0;
  }

  .servingsandtime {
    margin-bottom: 2rem;
    .recipe__info__container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      .icon__container {
        margin-bottom: 2.5rem;
        flex: 0 0 50%;
        text-align: center;
        svg {
          height: 3rem;
        }
        h4 {
          font-size: 1.8rem;
          padding: 0.1rem 0.3rem;
          background-color: $color-black;
          color: $color-white;
          width: fit-content;
          margin-left: auto;
        }
      }

    }
  }

  .recipe-topnotes {
    text-align: justify;
    text-justify: inter-word;
    .recipe-description {
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
  }


  .recipe-image{
    img{
      width: 100%;
      margin-bottom: 1.5rem;
      box-shadow: 6px 6px rgba(0,0, 0, 0.9);
    }
  }

  .recipe-info {
    position: sticky;
    top: 5rem;

    .recipe-mesures{
      margin-top: 5rem;
      ul {
        li {
          display: flex;
          justify-content: flex-start;
          line-height: 2.6rem;
          margin-bottom: 1rem;
          .measure__quantity {
            font-weight: 600;
            margin-right: 1rem;
            width: 4rem;
            text-align: right;
            flex-shrink: 0;
          }
        }
      }
    }
  }


  h3 {
    margin-bottom: 2rem;
    font-size: 2.4rem;
    text-transform: uppercase;
    font-weight: 600;
    background-color: $color-black;
    color: $color-white;
    width: fit-content;
    padding: 0.4rem .5rem 0.4rem .5rem;
  }

  .recipe-etapes {
    margin-top: 5rem;
    margin-bottom: 40px;

    .step__container {
      display: flex;
      h1 {
        text-align: center;
        font-size: 8rem;
        font-weight: 600;
        line-height: 7rem;
      }
      &--left {
        justify-content: flex-start;
        h1 { text-align: left; margin-right: 1rem; flex: 0 0 10%; }
        p {
          flex: 0 0 76%;
        }
      }
      &--right {
        justify-content: flex-end;
        h1 { text-align: right; margin-left: 1rem; flex: 0 0 10%; }
        p {
          flex: 0 0 76%;
        }
      }
      p {
        text-align: justify;
        text-justify: inter-word;
      }
    }
  }

  .short-line {
    &:not(:last-child) {
      width: 2rem;
      height: 1px;
      border: 2px solid black;
      margin: 4rem auto;
    }
  }

  @media screen and (max-width: $screen-s) {
    .header {
      margin: 0;
      font-size: 3.8rem;
    }

    .line {
      margin: 0.5rem 0 2rem 0;
    }

    .recipe-info {
      position: inherit;
    }

    .servingsandtime {
      margin-bottom: 0;
      .recipe__info__container {
        justify-content: space-between;
        .icon__container {
          margin-bottom: 0;
          flex: 0 0 20%;
          svg {
            height: 2rem;
          }
        }
      }
    }

    h3 {
      font-size: 2rem;
    }

    .recipe-topnotes {
      .recipe-description {
        margin: 2rem 0;
      }
    }

    .recipe-info {
      .recipe-mesures{ margin-top: 2rem; }
    }

    .recipe-etapes {
      margin-top: 2rem;

      .step__container {
        h1 {
          text-align: center;
          font-size: 7rem;
          font-weight: 600;
          line-height: 6rem;
        }
        &--left {
          p {
            flex: auto;
          }
        }
        &--right {
          p {
            flex: auto;
          }
        }
      }
    }

    .short-line { &:not(:last-child) { margin: 2rem auto; } }
  }
}
