#recipe-add-details{
  .details {
    display: flex;
    justify-content: space-between;
  }
  p {
    font-size: 35px;
  }
  .recipe-steps {

  }
  .item-center-space-around {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  p {
    font-size: 18px !important;
  }
}

.ivu-select{
  .ivu-tag-text{
    font-size: 14px !important;
  }
}

