#recipe-index {
  .letters{
    margin-top: 10rem;
  }

  .letter {
    display: flex;

    &--left {
      justify-content: flex-start;
      .letter__box {
        margin-right: 1rem;
      }
    }
    &--right {
      justify-content: flex-end;
      .letter__box {
        margin-left: 1rem;
      }
    }

    &:not(:last-child) {
      margin-bottom: 4rem;
    }

    .letter__box {
      h1 {
        font-size: 10rem;
        text-align: center;
        line-height: 8.5rem;
        font-weight: 600;
      }
    }

    .recipes__list {
      .recipe {
        &:not(:last-child) {
          margin-bottom: 1rem;
        }

        a {
          font-size: 2.4rem;
          color: $color-black;

          &:after {
            content: '';
            display: block;
            height: 2px;
            background: black;
            width: 0;
          }

          &:hover, &:focus { text-decoration: none; }

          &:hover:after,
          &:focus:after {
            width: 100%;
            transform: scaleX(0);
            transform-origin: right;
            animation: grow-left cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s forwards;
          }
        }
      }
    }
  }

  .short-line {
    &:not(:last-child) {
      width: 2rem;
      height: 1px;
      border: 1px solid black;
      margin: 3rem auto;
    }
  }

  @media screen and (max-width: $screen-s) {
    .letters{ margin-top: 2rem; }

    .letter {
      .letter__box { h1 { font-size: 8rem; line-height: 6.5rem; } }
      .recipes__list { .recipe { a { font-size: 2rem; } } }
    }

    .short-line { &:not(:last-child) { margin: 2rem auto; } }
  }
}
