
.recipe-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid grey;
}

.servingsandtime{
  margin-top: 4%;
}

.recipe-topnotes{
  display:flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 5%;
  border-bottom: 1px solid black;
  padding-bottom: 40px;
}

.recipe-image{
  flex: 0 0 60%;
  img{
    width: 100%;
  }
}

.recipe-description{
  flex: 1 0 40%;
  padding-right: 8%;
}

.recipe-info{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.recipe-mesures{
  flex: 0 0 30%;
  li {
    list-style: none;
    font-weight: bold;
  }
}

.recipe-etapes{
  li {
    list-style: none;
  }
  h5 {
    font-weight: bold;
  }
}

.recipe-ustensiles{
  li {
    list-style: none;
  }
}

























