.bottombar {
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 2%;
  position: fixed;
  z-index: 1;
  bottom: 0;
  background-color: $color-white;
  border-top: 1px solid $color-black;

  .bar__link {
    color: $color-black;
    font-size: 2rem;
    margin-right: 5px;
    font-weight: 600;

    &:after {
      content: '';
      display: block;
      height: 2px;
      background: black;
      width: 0;
    }

    &.active:after {
      width: 100%;
    }

    &:hover, &:focus { text-decoration: none; }

    &:hover:after,
    &:focus:after {
      width: 100%;
      transform: scaleX(0);
      transform-origin: right;
      animation: grow-left cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s forwards;
    }
  }

  .searchbox_bottom {
    .search {
      display: flex;
      align-items: center;
      justify-content: space-between;
      text-align: center;

      .button_svg {
        border: none;
        background-color: $color-white;
        cursor: pointer;
        margin-bottom: -.3rem;
        #icon-search {
          height: 2.4rem;
        }
        #icon-clear {
          height: 1.5rem;
        }
        &__reset {
          display: none;
        }
      }

      input {
        border: none;
        text-align: left;
        font-size: 1.6rem;
        line-height: 2.4rem;
        transition: all .4s;
        cursor: pointer;
        width: 2.4rem;
        color: transparent;
        background: $color-white url("search.svg") no-repeat 0px center;
        &:focus {
          padding-left: 2.6rem;
          width: 16rem;
          color: $color-black;
          cursor: auto;
          outline: none;
          &::-webkit-input-placeholder { opacity: 0; }
        }
      }
    }
  }

  .bar__title {
    #home_link {
      color: $color-black;
      &:hover, &:focus { text-decoration: none; }
    }

    .bar__title--text {
      font-size: 3rem;
      font-weight: 600;
      text-transform: capitalize;
      color: $color-black;
      font-family: $headers-font;
    }
  }
}

@media screen and (max-width: $screen-m) {
  body {
    padding-top: 2rem;
  }
  #topbar {
    display: none;
  }
}

@media screen and (min-width: $screen-m) {
  #bottombar {
    display: none;
  }
}
