.hamburger-menu {
  margin-left: 5%;
  z-index: 1;
  &__item {
    cursor: pointer;
    padding: 0 2rem 0 0;
  }

  .dropdown__button {
    text-decoration: none;
    cursor: pointer;
    color: $color-black;
    padding: 0 2.8rem 0 0;
  }

  /* Dropdown menu */
  .menu__dropdown {
    box-shadow: 1px 1px 4px #E6E6E6;
    border-color: #E6E6E6;
    background-color: $color-white;

    & li > a {
      transition: all .3s ease;
      color: $color-black;
      font-size: $default-font-size;
      line-height: 2.2rem;
      padding: 1rem 1.5rem;

      &:hover {
        background: transparent;
        font-weight: bolder;
        color: $color-primary-dark;
      }
    }
  }
}
