.hamburger-menu {
  position: fixed;
  bottom: 2rem;
  left: 50%;
  margin-top: 1rem;
  transform: translateX(-50%);
  z-index: 1;

  &__item {
    cursor: pointer;
    padding: 0 2rem 0 0;
  }

  .dropdown__button {
    text-decoration: none;
    cursor: pointer;
    color: $color-black;
    font-size: 2rem;
    text-transform: uppercase;
    padding: 1rem;
    border: 1px solid $color-black;
    border-radius: 3px;
  }

  /* Dropdown menu */
  .menu__dropdown {
    box-shadow: 1px 1px 4px #E6E6E6;
    border-color: #E6E6E6;
    background-color: $color-white;

    & li > a {
      transition: all .3s ease;
      font-weight: lighter;
      color: $color-black;
      font-size: $default-font-size;
      line-height: 2.2rem;
      padding: 1rem 2rem;

      &:hover {
        background: transparent;
        font-weight: bolder;
        color: $color-primary-dark;
      }
    }
  }
}
