.topbar {
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  padding: 0 10%;
  position: fixed;
  z-index: 1;
  top: 0;
  background-color: $color-white;

  .bar__link {
    color: $color-grey-dark;
    font-size: 2.4rem;
    font-weight: 600;

    &:not(:first-child){
      margin-left: 5%;
    }

    &:after {
      content: '';
      display: block;
      height: 2px;
      background: black;
      width: 0;
    }

    &.active {
      color: $color-black;
    }

    &.active:after {
      width: 100%;
    }

    &:hover, &:focus {
      color: $color-black;
      text-decoration: none;
    }

    &:not(.active):hover:after,
    &:not(.active):focus:after {
      width: 100%;
      transform: scaleX(0);
      transform-origin: right;
      animation: grow-left cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s forwards;
    }
  }

  .searchbox_top {
    margin-left: 5%;
    .search {
      display: flex;
      align-items: center;
      justify-content: space-between;
      text-align: center;

      .button_svg {
        border: none;
        background-color: $color-white;
        cursor: pointer;
        margin-bottom: -.3rem;
        #icon-search {
          height: 2.4rem;
        }
        #icon-clear {
          height: 1.5rem;
        }
        &__reset {
          display: none;
        }
      }

      input {
        border: none;
        text-align: left;
        font-size: 2.4rem;
        line-height: 2.4rem;
        transition: all .4s;
        cursor: pointer;
        width: 2.4rem;
        color: transparent;
        background: $color-white url("search.svg") no-repeat 0px center;
        &:focus {
          padding-left: 35px;
          width: 24rem;
          color: $color-black;
          cursor: auto;
          outline: none;
          &::-webkit-input-placeholder { opacity: 0; }
        }
      }
    }
  }

  .bar__line {
    border: 1.5px solid $color-black;
    flex-grow: 1;
    margin: 0 5%;
  }

  .bar__title {
    .bar__title--text {
      font-size: 6rem;
      font-weight: 600;
      text-transform: capitalize;
      color: $color-black;
      font-family: $headers-font;
    }
  }

  @media screen and (max-width: $screen-l) {
    padding: 0 5%;
  }
}

.agent-1, .agent-3 {
  opacity: 0;
  animation: fade-in-left ease 0.4s forwards;
}

.agent-2 {
  transform: scaleX(0);
  transform-origin: right;
  animation: grow-left cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.5s forwards;
  animation-delay: 0.2s;
}

.agent-3 {
  animation-delay: 0.6s;
}

@keyframes fade-in-left {
  from {
    opacity: 0;
    transform: translateX(3rem);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes grow-left {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}
