.topbar {
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 80%;
  margin: 0 auto;

  .bar__link {
    color: $color-black;
    font-size: 2.4rem;

    &:not(:first-child){
      margin-left: 5%;
    }
  }

  .searchbox {
    margin-left: 5%;
    .search {
      display: flex;
      align-items: center;
      justify-content: space-between;
      text-align: center;
      width: 32rem;
      height: 4.5rem;
      .button_svg {
        border: none;
        background-color: $color-white;
        cursor: pointer;
        margin-bottom: -.3rem;
        #icon-search {
          height: 2.4rem;
        }
        #icon-clear {
          height: 1.5rem;
        }
      }

      input {
        border: none;
        text-align: left;
        width: 100%;
        margin: 0 .5rem;
        font-size: 2.4rem;
        line-height: 2.4rem;
        &:focus {
          outline: none;
          &::-webkit-input-placeholder { opacity: 0; }
        }
      }
    }
  }

  .bar__line {
    border: 1.5px solid $color-black;
    flex-grow: 1;
    margin: 0 5%;
  }

  .bar__title {
    .bar__title--text {
      font-size: 6rem;
      font-weight: 600;
      text-transform: capitalize;
      color: $color-black;
      font-family: $headers-font;
    }
  }

  @media screen and (max-width: $screen-l) {
    width: 90%
  }
}
